<div class="">
<form  [formGroup]="recipeFormGroup" (ngSubmit)="addRecipe()" ngNoForm >
  <h1 class="p-4" align="center">Share your recipe with everyone!</h1>


<div class="recipeInputs row justify-content-center">


  <label>
   --Name:
  <input style="width: 25rem; flex: 10rem;" type="text" formControlName="name"  class="form-control" required >
  </label>
  <label>
    --Type:
    <select formControlName="type"  class="form-control" required>
      <option ngValue="Vegan">Vegan</option>
      <option ngValue="Vegetarian">Vegetarian</option>
      <option ngValue="Sea food">Sea food</option>
      <option ngValue="Asian food">Asian food</option>
      <option ngValue="Fast food">Fast food</option>
      <option ngValue="Deserts">Deserts</option>
    </select>
  </label>

  <label >
    --Portion:
  <select formControlName="portion" class="form-control"  required>
    <option ngValue="1 person">1 person</option>
    <option ngValue="2-3 people">2-3 people</option>
    <option ngValue="3-4 people">3-4 people</option>
    <option ngValue="4-5 people">4-5 people</option>
    <option ngValue="6+ people">6+ people</option>
  </select>

  </label>

  <label >
    --Cook time:
    <select formControlName="cookTime" class="form-control" required>
      <option ngValue="Under 10 minutes">Under 10 minutes</option>
      <option ngValue="10-20 minutes">10-20 minutes</option>
      <option ngValue="20-30 minutes">20-30 minutes</option>
      <option ngValue="30-60 minutes">30-60 minutes</option>
      <option ngValue="Over an hour">Over an hour</option>
    </select>



  </label>
  <div style="margin-top: 2%; margin-left: 1%;">
    <label>
      <a class="btn btn-primary">
        Choose picture for Recipe
      <input

        (change)="uploadImage($event)"
        accept="images/*"
        id="file_input_file"
        class="none"
        type="file">
      </a>
    </label>
  </div>

  <label>
    <div class="" style="max-width: 25rem; min-width: 15rem;">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        format="png"
        [aspectRatio]="4 / 3"
        (imageCropped)="imageCropped($event)"
        [resizeToWidth]="400" [onlyScaleDown]="true">
      </image-cropper >

    </div>
  </label>


</div>
<div *ngIf="ingredientsFormArray.controls"  class="row justify-content-center" style="margin: 10px;">
  <div formArrayName="ingredients"
         *ngFor="let item of ingredientsFormArray.controls; let i = index;">
      <div  [formGroupName]="i" ngNoForm>
        <div class="buffer">

          <div  class="card" style="width: 17rem; background-color: #FBE8A6;">

            <div class="card-body">
              <h5 class="card-title">Ingredient:</h5>

              <label for="ingName" >
                Name:
              </label>
              <input width="20%"  formControlName="name" placeholder="Ingredient name" id="ingName" class="form-control" type="required">

              <label for="ingAmount" >
                Amount:
                <input formControlName="amount" placeholder="Ingredients amount" id="ingAmount" class="form-control" required>
              </label>

            </div>
            <div class="justify-content-end" style="display: flex;">
              <button style="" type="button" class="btn btn-danger" aria-label="Close" (click)="removeIngredient(i)">Remove</button>
            </div>
          </div>
        </div>



      </div>
  </div>
  <div class="buffer" (click)="addIngrediantForm()">
    <div  class="card" style="width: 17rem; background-color: #FBE8A6;">
      <img class="card-img-top" src="http://blog.blueapron.com/wp-content/uploads/2013/12/Middle-Eastern-Ingredients.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Click to Add Ingredient</h5>
      </div>
      </div>
    </div>
</div>

  <div class="row justify-content-center">
    <label>
      --Instructions:
      <textarea  formControlName="howTo" class="form-control required" style="width: 1000px; height: 200px" required > </textarea>
    </label>

    <button *ngIf="!isLoading" class="btn btn-primary" style="width: 60%;" type="submit">Add Recipe</button>
  </div>



</form>
</div>


