<div fxLayout="row" fxLayoutAlign="center top" class="row-height">
  <div fxFlex="90%" style="height:45%" fxLayout="column">
    <h1>Current Max/Min Temperature range: from {{temperatureMax}} °C to {{temperatureMin}} °C</h1>
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="seriesData"
>

</ngx-charts-line-chart>
  </div>
</div>
